@use 'variables';

.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url("/src/images/abre_hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$textSecundary;
        opacity: 0.7;
        content: '';
    }

    &__image {
        margin: 0 auto;
        width: 400px;
        display: block;
        border-radius: 50%;
    }

    &__text {
        margin-top: 30px;
        margin-bottom: 64px;
        font-weight: 900;
        font-size: 40px;
        text-align: center;
        color: variables.$textPrimary;
    }

    @media (max-width: 640px) {
        background-image: url("/src/images/abre_hero.png");
        padding: 40px 0;
        max-width: 100%;

        &__image {
            max-width: 200px;
        }

        &__text {
            font-size: 30px;
            line-height: 44px;
            margin: 24px 0;
            flex-wrap: nowrap;
        }
    }

}