@use 'variables';

.infos-bar {
    padding: 15px 40px;
    background-color: variables.$textPrimary;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;

    &__infos {
        display: flex;
        gap: 230px;
        margin: 0;
        padding: 0;

        &__item {
            font-size: 18px;
            color: variables.$textSecundary;
            text-decoration: none;

            b {
                font-size: 18px;
                color: variables.$textSecundary;
            }

            i {
                font-size: 20px;
                color: variables.$buttonColor;
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;
        text-align: center;

        &__infos {
            display: block;
            margin-bottom: 20px;
        }

        a {
            margin-top: 20px;
        }
    }

    @media (max-width: 1024px) {

        li {
            margin-bottom: 20px;
        }
    }
}